.post{
    border-radius: 25px;
    border: 2px solid #840315;
    padding: 10px 20px;
    width: auto;
    height: auto;
    margin: 5px 20px;
    display: flex;
    flex-direction: column;
}
.top{
    display: flex;
    flex-direction: row;
}
.author {
    font-weight: 500;
}
.author img{
    border: 1px solid #840315;
    border-radius: 50%;
}
.post:last-child{
    margin-bottom: 60px;
}
.title{
    font-size: large;
    font-weight: 600;
    margin-bottom: 3px;
}
.desc{
    padding: 8px;
    border: 2px solid gold;
    border-radius: 25px
}
.tags span{
    margin: 5px;
    display: inline-block;
    background-color: gold;
    border-radius: 15px;
    padding: 4px;
}
